---
layout: page
permalink: /categories/

---

<h1>Galleries</h1>


<ul>
  {% assign gallery = site.galleries %}

  {% for gallery in site.galleries | sort: 'title' %}
    <li><a href="{{ item.url }}">{{ gallery.title }}</a></li>
  {% endfor %}
</ul>





<div class="measure-wide center">
<h1 class="near-black center">{{ page.title }}</h1>

{{content}}




<h2>appless</h2>
<ul class="list pl0 lh">

  {% assign projects = site.works | where: "categories", "apple" | sort: 'title' %}
  {% for item in projects %}

      <li class="dib mr2"><a href="{{ item.url }}" class="f4 f3-ns db pb2 pr2 link dim blue">{{ item.title }}</a></li>

  {% endfor %}
</ul>


<h2>lemons</h2>
<ul class="list pl0 lh">

  {% assign projects = site.works | where: "categories", "lemon"  | sort: 'title'%}

  {% for item in projects %}

      <li class="dib mr2"><a href="{{ item.url }}" class="f4 f3-ns db pb2 pr2 link dim blue">{{ item.title }}</a></li>

  {% endfor %}
</ul>



<h2>oranges</h2>
<ul class="list pl0 lh">

  {% assign projects = site.works | where: "categories", "orange" | sort: 'title' %}

  {% for item in projects %}

      <li class="dib mr2"><a href="{{ item.url }}" class="f4 f3-ns db pb2 pr2 link dim blue">{{ item.title }}</a></li>

  {% endfor %}
</ul>

<p>The above can be cleaned up by using an array, I think, and cycling through a category list</p>



<h3>listing categories</h3>
<ul class="list pl0 lh">

  {% assign mid = site.works | sort: 'categories' %}
  {% assign projects = mid | reverse %}
  <!-- sorts work dates into reverse order so most recent appears first -->
  {% for item in projects %}

  <li class="dib mr2"><a href="{{ item.categories.url }}" class="f4 f3-ns db pb2 pr2 link dim blue">{{ item.categories }}</a></li>
  {% endfor %}

</ul>

<h4>List of categories</h4>


{% assign cats = site.works %}
{% for item in cats %}
<ul>
    <li class="dib mr2">{{ item.categories }}</li>
</ul>
{% endfor %}


---------


{% for item in site.works %}
<ul>
    <li class="dib mr2">{{ item.categories }}</li>
</ul>
{% endfor %}



++++++++++++++++


{% assign groups = site.works | group_by: "categories" %}


{% for crew in groups %}
  <h4> {{ crew.name }}</h4>
<!--    {% for item in crew.items %}
      <p> {{item.title}}</P>
    {%endfor%}
  -->
{%endfor%}

+++++++


<h4>LOOPS</h4>
<!-- {% for categories in site.works %}
    {{ categories | first }}
{% endfor %}-->
<P>HELL</p>
<!--
  <div id="archives">
  {% for category in site.works %}
    <div class="archive-group">
      {% capture category_name %}{{ category | first }}{% endcapture %}
      <div id="#{{ category_name | slugize }}"></div>
      <p></p>

      <h3 class="category-head">{{ category_name }}</h3>
      <a name="{{ category_name | slugize }}"></a>
      {% for post in site.categories[category_name] %}
      <article class="archive-item">
        <h4><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h4>
      </article>
      {% endfor %}
    </div>
  {% endfor %}
  </div>
-->
{% assign net = site.data.network | group_by:"type" %}

{% for type in net %}
  <h1>{{ type.name }}</h1>
  <ul>
    {% for item in type.items %}
    <li>{{ item.ip }}</li>
    {% endfor %}
  </ul>
{% endfor %}


{% assign catz = site.works | group_by:"categories" %}

{% for categories in catz %}
  <h1>{{ categories.name }}</h1>
  <ul>
    {% for item in categories.items %}
    <li>{{ item.categories }}</li>
    {% endfor %}
  </ul>
{% endfor %}
