---
layout: default
---

<!-- todo nicetohave. Use logic to decide if the hero image code is here or not. If hero image then code is present, else it's not -->



  <div class="mb5 mw8-ns">
    <img src="/uploads/{{ page.image }}"  class="mw-100 db r" title="{{ page.title }}" alt="{{ page.title }}"  >
  </div>


<header class="black  measure-wide">
  <h1 class="near-black mw8 lh">{{page.artist}}</h1>
    <h2 class="near-black mw8 mb2 lh">{{ page.title }}</h2>
  <p class="silver lh mb5 mt2 f4">{{ page.medium }}<br />{{ page.dimensions }}<br />{{ page.work-year }}</p>


</header>

<article class ="near-black measure-wide lh-copy f6 f2-ns">

<ul>
  <li>Status: {{ page.status }}</li>
  <li>Price: {{ page.price }}</li>
<!-- use if then formats to show relevant info -->
  <li>Location of work: {{ location-of-work }}</li>
  
  <li>Owner: {{ page.owner}}</li>
  <li>Sold on: {{ date-bought }}</li>
<li>Sold by: {{ page.sold-by }}</li>

</ul>

<p>{{ page.notes | markdownify }}</p>


<dl class="mv2">
<dt class="ml0 dib near-black w-20">Status</dt>
  <dd class="ml0 dib near-black">{{ page.status }}</dd>
</dl>
<dl class="mv2">
  <dt class="ml0 dib near-black w-20">Price</dt>
   <dd class="ml0 dib near-black">{{ page.price }}</dd>
</dl>

{{ content }}


</article>

<dl class="mt2 near-black f2 lh-copy mv2">

<dt class="dib ">Status</dt>
<dd class=" dib ml0">{{ page.status }}</dd>
 </dl>

<dl class="mt2 f2 lh-copy mv2">
<dt class=" dib near-black">Price</dt>
<dd class=" dib near-black ml0">{{ page.price }}</dd>
 </dl>
<dl class="mt2 f2 lh-copy mv2">
    <dt class="dib b">L:</dt>
    <dd class="dib ml0 gray">Losses</dd>
  </dl>



<p class="mt6 f3">Go back to the


{% assign gallery = site.galleries | where: 'title', page.galleries | first %}
{% if gallery %}
  <a href="{{ gallery.url }}">{{ gallery.title }}</a> gallery

  {% else %}
<a href="{{ site.url }}/the-collection/">the collection</a>
{% endif %}

</p>


 Use definition lists for above with clip style

 <dl class="mt2 f6 lh-copy">
  <dt class="clip">Title</dt>
  <dd class="ml0 black truncate w-100">Blonde</dd>
  <dt class="clip">Artist</dt>
  <dd class="ml0 gray truncate w-100">Frank Ocean</dd>
</dl>


