---
layout: default
---

<!-- todo nicetohave. Use logic to decide if the hero image code is here or not. If hero image then code is present, else it's not -->



  <div class="mb5 mw8-ns">
    <img src="/uploads/{{ page.image }}"  class="mw-100 db r" title="{{ page.title }}" alt="{{ page.title }}"  >
  </div>


<header class="black  measure-wide">
  <h1 class="near-black mw8 lh">{{page.artist}}</h2>
    <h2 class="near-black mw8 mb2 lh">{{ page.title }}</h1>
  <p class="silver lh mb5 mt2 f4">{{ page.medium }}<br />{{ page.dimensions }}<br />{{ page.year }}</p>

</header>

<article class ="black measure-wide lh-copy f6 f2-ns">
<p>{{page.notes}}</p>

{{ content }}


</article>
<p class="mt6 f3">Go back to the


{% assign gallery = site.galleries | where: 'title', page.galleries | first %}
{% if gallery %}
  <a href="{{ gallery.url }}">{{ gallery.title }}</a> gallery

  {% else %}
<a href="{{ site.url }}/the-collection/">the collection</a>
{% endif %}

</p>
<!--
 Use definition lists for above with clip style

 <dl class="mt2 f6 lh-copy">
  <dt class="clip">Title</dt>
  <dd class="ml0 black truncate w-100">Blonde</dd>
  <dt class="clip">Artist</dt>
  <dd class="ml0 gray truncate w-100">Frank Ocean</dd>
</dl>

-->
